input {
  font-size: inherit; }

.App {
  text-align: center; }

.App-header {
  background-color: #222;
  padding: 20px;
  color: white; }

.App-title {
  font-size: 1.5em; }

.App-intro {
  font-size: large; }

.container {
  max-width: 960px;
  margin: auto; }

.grid {
  display: grid;
  margin-bottom: 1em; }

.grid--three {
  grid-template-columns: 1fr 1fr 1fr; }
  @media screen and (max-width: 700px) {
    .grid--three {
      grid-template-columns: none; } }
